{% extends 'template.html'%}
{% block title %}
League Best Build
{% endblock %}
{% block content %}

<header class="headerBar dark">
    <div class="logo"><img src="{{ url_for('static',filename='imagens/logo.png') }}"></div>
    <div class="appName left">League Best Build</div>
</header>

<nav id="nav" class="navBar bottom">
    <div class="buttonGroup">
        <button id="tab1" class="button tab active" for="tela1">
            Inicio
        </button>
    </div>
</nav>

<div id="tela1" class="component hidden">
    <div class="componentContent">
        <div class="componentHeader">
            <h1>Champions</h1>
        </div>
        <ul class="list mt4" id="listaCampeoes">
        </ul>
    </div>
</div>

<div id="tela2" class="component hidden">
  <form method="POST">
    <div class="componentHeader mt1">
      <h1 class="componentTitle mvLeft2" id="lblNome"></h1>
    </div>
    <div class="componentContent">
      <div class="slidecontainer" id="DanoInimigo">
        <label class="fixed" for="inputNovaTarefa">Dano inimigo:</label>
        <label id="inimigoAD">AD=3</label>/<label id="inimigoAP">AP=2</label>
        <input name="dano" type="range" id="dano" min="0" max="5" value="3" class="slider" onChange="atualizaSlider()">
      </div>

      <div class="field slidecontainer" id="TankInimigo">
        <label class="fixed" for="inputNovaTarefa">Inimigos Tank:</label>
        <input name="tanks" type="number" id="tanks" min="0" max="5" value="" >
      </div>
      
      <div class="buttonGroup mt1 center">
        <button id="btnCanc" class="button quarter light">Cancelar</button>
        <input type="submit" id="btnInc" class="button quarter primary" value="Ok"/>
      </div>

      <div class="hidden">
        <input name="nome" id="formNome" type="text" value=""/>
        <input name="mana" id="formMana" type="text" value="" />
        <input name="ad" id="formAd" type="text" value="" />
        <input name="ap" id="formAp" type="text" value="" />
        <input name="tank" id="formTank" type="text" value="" />
        <input name="armor" id="formArmor" type="text" value="" />
        <input name="mr" id="formMr" type="text" value="" />
        <input name="letalidade" id="formLetalidade" type="text" value="" />
        <input name="magicPenFlat" id="formMagicPenFlat" type="text" value="" />
        <input name="armorPen" id="formArmorPen" type="text" value="" />
        <input name="magicPen" id="formMagicPen" type="text" value="" />
      </div>
  </form>
</div>
{% endblock %}