<html>
    <head lang="pt-BR">
        <title>{% block title %} {% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />
        <link rel="icon" type="image/png" href="{{ url_for('static',filename='imagens/airplane.ico') }}" />
        <link rel="stylesheet" href="{{ url_for('static',filename='estilos/estilo.css') }}"/>
        <script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>